@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
@import "./partials/_pollution-search-box";
@import "./partials/_footer";
@import "./partials/_pollution-body";