.footer {
    width: 100%;
    background-color: black;
    font-size: 1em; 
    padding: 1.5em 0em 1.5em 0em;

    .social {
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            margin-left: 10px;
            margin-right: 10px;
            color: white;
            font-size: 30px;
            padding: .5em;
        }

        #logo {
            background:white;
            border-radius: 30%;
            padding: 5px;
        }

    }

    .copyright {
        @include flexCenter();
        color: white;
        padding-top: 10px;

    }
}
