@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$main-black: #53555b;
$main-grey: #878888; 
$clouds: "../images/clouds-back.jpg";
$breakpoint-minCellPhone: 360px;
$breakpoint-maxCellPhone: 480px;
$breakpoint-minDesktop: 481px;

@media (min-width: $breakpoint-minDesktop){
  html, body{
    height: 100%;
    margin: 0;
    text-decoration: none;
  }


  main{
    background-color:black;
    height:auto;
    border: 2px solid $main-grey;
    padding-bottom: 50px;
    border-bottom-style: ridge;
  }

  .pollution-search-container {
      background: $main-grey;
      position: relative;
      height: 13vh;
      width: 60%;
      margin-left: 19%;
      border-radius: 10px;
      border-color: $main-grey;
    }

    .pollution-search-form {

      margin-top: 30px;
      margin-left: 150px;
      position: absolute;
      display:inline-flex;

      .pollution-label{
        height: auto;
        width:auto;
        text-shadow: none;
        color:white;
        margin-right:15px;
        margin-top:5px;
      }

      .pollution-input[type="text"], select, textarea{
        display: block;
        box-sizing: border-box; 
        height: 40px;
        border-color: $main-grey;
        position:initial;
        margin-right:15px;
      }

      .pollution-select-input{
        display: block;
        box-sizing: border-box; 
        height: 40px;
        border-color: $main-grey;
        position:initial;
        margin-right:15px;
        margin-top: 0px;
      }

      .pollution-search-button{
        height :40px;
        width : 100px;
        margin-left: 15px;
        background-color: $main-black;
        border-style: none;
      }
    }

}

  @media (min-width: $breakpoint-minCellPhone) and (max-width: $breakpoint-maxCellPhone){
    html, body{
      margin: 0;
      height:100%;
      text-decoration: none;
    }
    
    
    main{
      background-color: black;
      height:auto;
    }

    .pollution-search-container {
      background: black;
      position: relative;
      height: 20vh;
      width: 60%;
      margin-left: 20%;
    }
  
    .pollution-search-form {
  
  
      input[type="text"], select, textarea{
        position: absolute;
        display: block;
        box-sizing: border-box; 
        border-color: $main-black;
        margin:0;
        height:auto;
      }
  
      .pollution-search-button{
        margin-top: 10px;
        height: auto;
        border-radius: 4em;
      }
      width: 30%;
      height:auto;
      position: absolute;
      margin-left: 20px;
    }
  }
  
  